body {
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}

body label {
  display: block;
}

body .btn-small {
  background-color: #ffffff;
  border: 0.5px solid black;
  color: #da291c;
}

body .btn-submit {
  background-color: #ffffff;
  border: 1px solid #da291c;
  color: #da291c;
  padding: 3px;
  margin-left: 500px;
  display: block;
}